
@{
    ViewBag.Title = "Resume";
    Layout = "~/Views/_Layout.cshtml";
}
<div class="container fill"style="margin-top:25px; height:100vh;">
        <object data="~/Content/resume.pdf" type="application/pdf" style="width:100%;height:100vh;">
           alt : <a href="~/Content/resume.pdf">Download my resume PDF to view it.</a>
        </object>
</div>