@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/_Layout.cshtml";
}
<div style="margin-top:30px;"></div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-2 column">
            <p>
                If you have any questions or want to know more about me feel free to fill out this contact form and
                I'll be happy to get back to you about anything.
            </p>
        </div>
        <div class="col-md-6 column">
            @using (Html.BeginForm("SendContact", "Contact", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="fullname">Your Name</label>
                    <input type="text" name="fullname" />
                </div>
                <div class="form-group">
                    <label for="emailAddress">Your Email</label>
                    <input type="email" name="emailAddress" />
                </div>
                <div class="form-group">
                    <label for="body">Comment</label>
                    <textarea name="body"></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Submit Comment" />
            }
    </div>
        <div class="col-md-2 column">
        </div>
    </div>
</div>