
@{
    ViewBag.Title = "My Work";
    Layout = "~/Views/_Layout.cshtml";
}
<script>
 (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.src = 'http://assets.gfycat.com/js/gfyajax-0.517d.js';
    s.parentNode.insertBefore(g, s);
}(document, 'script'));
</script>
<div class="content-section">
    <div class="container gamecontainer">
        <div class="row">
            <div class="col-md-4">Hangman GUI</div>
            <div class="col-md-8"><img class="gfyitem" data-id="FlickeringNaughtyAquaticleech" data-controls="false" /></div>
        </div>
        <div class="row">
            <div class="col-md-2 gameEXElink"><a href="~/Content/Work/hangmangui.exe" class="btn btn-default btn-md"><i class="fa fa-download fa-fw"></i> <span class="network-name">Download</span></a></div>
            <div class="col-md-10 gameGithublink"><a href="https://github.com/ericfowler303/HangmanGUI" class="btn btn-default btn-md"><i class="fa fa-github fa-fw"></i> <span class="network-name">Source</span></a></div>
        </div>
    </div>
</div>
