@{
    ViewBag.Title = "My Work";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="content-section">
    <div class="container gamecontainer">
        <div class="row">
            <div class="col-md-4">
                <h2>(WIP) Comet Lander for Android</h2>
                <p>
                    This app is still a work in progress. Comet Lander is a homage to the classic Moon Lander game that first came out in the 1970's.
                    The app uses the LibGDX framework which helps with the physics, sprites, and touch input handling. When the game loads it randomly 
                    creates the starfield in the background each time which provides a more realistic looking background view of space.
                    The tilt of the spaceship is determined by the tilt of the device to the left or the right.
                    The ships's rotation is limited to 90 degrees in either direction because the
                    goal of the game is to land on the moon/comet surface. When touching the screen the spaceship applies thrust in the vector direction that the spaceship
                    is facing. The longer the user holds the thrust the longer the flames will be coming out of the thrusters on the ship.
                </p>
            </div>
            <div class="col-md-8">
                <video autoplay loop style="height:640px;width:360px;">
                    <source src="~/Content/cometlander-demo.webm" type="video/webm">
                    <source src="~/Content/cometlander-demo.mp4" type="video/mp4">
                    <p>Your browser does not support H.264/MP4, WEBM or HTML5 Video.</p>
                </video>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 gameGithublink"><a href="https://github.com/ericfowler303/CometLanderGDX" class="btn btn-default btn-md" target="_blank"><i class="fa fa-github fa-fw"></i> <span class="network-name">Source</span></a></div>
        </div>
    </div>
</div>
<div class="container" style="margin-top:15px;margin-bottom:15px;">
    <div class="line-separator"></div>
</div>
<div class="content-section">
    <div class="container gamecontainer">
        <div class="row">
            <div class="col-md-4">
                <h2>Hangman GUI</h2>
                <p>
                    A hangman game using Windows Forms in C#. The textbox allows for user input of one character at a time or the full word
                    as a valid guess. Either way can be used to solve the puzzle but an incorrect word or character guess is counted as a
                    wrong guess. Invalid input of special characters brings up a dialog box but is not counted against the user. The game includes
                    sound effects for wrong guesses and when the user wins or looses the game.
                </p>
            </div>
            <div class="col-md-8"><img src="http://zippy.gfycat.com/FlickeringNaughtyAquaticleech.gif" /></div>
        </div>
        <div class="row">
            <div class="col-md-2 gameEXElink"><a href="https://github.com/ericfowler303/Battleship/blob/master/Battleship/Battleship/bin/Debug/Battleship.exe?raw=true" class="btn btn-default btn-md"><i class="fa fa-download fa-fw"></i> <span class="network-name">Download</span></a></div>
            <div class="col-md-10 gameGithublink"><a href="https://github.com/ericfowler303/HangmanGUI" class="btn btn-default btn-md" target="_blank"><i class="fa fa-github fa-fw"></i> <span class="network-name">Source</span></a></div>
        </div>
    </div>
</div>
<div class="container" style="margin-top:15px;margin-bottom:15px;">
    <div class="line-separator"></div>
</div>
<div class="content-section">
    <div class="container gamecontainer">
        <div class="row">
            <div class="col-md-4">
                <h2>Cheese Finder</h2>
                <p>
                    The goal of the game is collect as much cheese as possible without getting caught by a cat. There are three
                    different types of cat(@@) indicated by their color:
                    <span style="color:lawngreen;background-color:black">Kitten</span> <span style="color:yellow;background-color:black">Housecat</span> <span style="color:red;background-color:black">Tiger</span>.
                    The kitten doesn't move often and can only move in four directions. The housecat moves more often and can move in all
                    eight directions. The tiger moves nearly every turn in all eight directions and is very hard to get away from. All cats use a basic
                    pathfinding algorithm to seek out the mouse. Also, the mouse has to eat cheese to keep itself from running out of energy which can kill it.
                </p>
            </div>
            <div class="col-md-8"><img src="http://zippy.gfycat.com/HilariousPleasingBorzoi.gif" /></div>
        </div>
        <div class="row">
            <div class="col-md-2 gameEXElink"><a href="https://github.com/ericfowler303/CheeseFinderV2/blob/master/CheeseFinder/CheeseFinder/bin/Debug/CheeseFinder.exe?raw=true" class="btn btn-default btn-md"><i class="fa fa-download fa-fw"></i> <span class="network-name">Download</span></a></div>
            <div class="col-md-10 gameGithublink"><a href="https://github.com/ericfowler303/CheeseFinderV2" class="btn btn-default btn-md" target="_blank"><i class="fa fa-github fa-fw"></i> <span class="network-name">Source</span></a></div>
        </div>
    </div>
</div>
<div class="container" style="margin-top:15px;margin-bottom:15px;">
    <div class="line-separator"></div>
</div>
